@import "../constants";
@import "../mixins";

.footer {
  background: rgba(248, 248, 248, 1);
  padding: 78px 0 0 0;
  &__container {
    ._container();
  }
  &__wrapper {
    ._wrapper();
  }

  &__social-media {
    max-width: 370px;
  }
  &__blog {
    max-width: 470px;
  }
  &__instagram {
    max-width: 270px;
  }

  &__contacts {
    margin-bottom: 42px;
    display: flex;
    > div {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }

    & > div {
      width: 100%;
    }

    .social-media {
      &__about {
      }
      &__logo {
        padding: 31px 0;
      }
      &__discription {
        padding: 18px 0;
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: #c6cbcd;
        }
      }
      &__followers {
        padding: 24px 0;
        span:nth-child(1) {
          font-weight: 700;
          font-size: 36px;
          line-height: 30px;
          color: #2d3033;
        }
        span:nth-child(2) {
          font-weight: 700;
          font-size: 15px;
          color: #2d3033;
        }
        span:nth-child(3) {
          font-weight: 200;
          font-style: italic;
          font-size: 15px;
          text-transform: uppercase;
        }
      }
      &__line {
        height: 0px;
        border: 1px solid #c6cbcd;
        width: 100%;
      }
      &__follow-us {
        display: flex;
        margin-bottom: 37px;
        .follow-us {
          &__name {
            display: flex;
            align-items: center;
            min-width: 70px;
            height: 43px;
            span {
              font-weight: 400;
              font-size: 13px;
              line-height: 15px;
              color: #c6cbcd;
            }
          }
          &__social-list {
            margin-left: 30px;
            ._center ();
            ul {
              display: flex;
              font-size: 24px;
              color: rgba(149, 225, 211, 1);

              li {
                margin-right: 11px;

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      &__subscription {
        form {
          display: flex;
        }
        input {
          height: 55px;
          width: 100%;
          color: #c6cbcd;
          background: #ffffff;
          border: 1px solid #c6cbcd;
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          text-align: center;
        }

        button {
          padding: 0 16p7;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          text-transform: uppercase;
          background: #95e1d3;
          color: #ffffff;
        }
      }
    }

    .footer__blog {
      &-title {
        padding: 36px 0;
        h3 {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;
          color: #2d3033;
        }
      }

      &-cards {
        .blog-card {
          display: flex;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          &__discription {
            padding: 0 0 0 30px;
          }
          &__img {
            min-width: 170px;
          }

          &__title {
            h4 {
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              text-transform: uppercase;
              color: #2d3033;
            }

            &__date {
              p {
                font-weight: 400;
                font-size: 13px;
                line-height: 15px;
                color: #2d3033;
              }
            }
          }
        }
      }
    }

    .footer__instagram {
      &-title {
        padding: 36px 0;
        h3 {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;
          color: #2d3033;
        }
      }

      &-cards {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      }

      &-option {
        padding: 36px 0;
        a {
          font-weight: 400;
          font-size: 13px;
          line-height: 15px;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: #2d3033;
        }
      }
    }
  }
  .footer__line {
    height: 0px;
    border: 1px solid #c6cbcd;
    width: 100%;
  }

  .footer__copyright {
    padding: 18px 0;
    ._center();
    h4 {
      font-weight: 700;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
      color: #2d3033;
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    padding: 28px 0 0 0;

    &__contacts {
      margin-bottom: 51px;
    }
    .footer__contacts {
      .social-media__logo {
        padding: 21px 0;
        img {
          height: 26px;
        }
      }
    }

    .social-media__discription {
      padding: 15px 0;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
    .social-media__followers {
      padding: 12px 0;
    }

    .social-media__followers span:nth-child(1) {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
  }

  .footer__contacts {
    .social-media__follow-us {
      margin-bottom: 25px;
      .follow-us__social-list {
        margin-left: 20px;

        ul {
          font-size: 16px;
        }
      }
    }
    .social-media__subscription input {
      height: 37px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }

    .social-media__subscription button {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      width: 145px;
      ._center();
    }

    .footer__blog-title {
      padding: 23px 0;
      h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .footer__blog-cards {
      .blog-card__img {
        min-width: 115px;
      }

      .blog-card__discription {
        padding: 0 0 0 20px;

        .blof-card__date {
          P {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }

      .blog-card__title h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        width: 267px;
      }
    }

    .footer__instagram-title {
      padding: 23px 0;
      h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
      }
    }

    .footer__instagram-option {
      padding: 12px 0;
    }
  }
  .footer__contacts > div {
    margin-right: 20px;
  }

  .footer {
    .footer__copyright {
      padding: 14px 0;
      h4 {
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
      }
    }
    .footer__social-media {
      max-width: 317px;
    }
  }
}

@media screen and (max-width: 980px) {
  .footer {
    .footer__contacts {
      .social-media__logo {
        padding: 25px 0 0 0;
      }

      .footer__instagram-option {
        ._center();
      }
      .social-media__subscription button {
        width: 100%;
        height: 37px;
      }
    }
    .social-media__discription {
      text-align: center;
      margin-top: 17px;
    }

    .social-media__followers {
      text-align: center;
    }

    .social-media__logo {
      ._center();
    }

    .follow-us__name {
      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .social-media__subscription {
      form {
        flex-direction: column;
        display: flex;
      }
    }
  }
  .footer__blog {
    display: none;
  }

  .footer__contacts {
    justify-content: space-evenly;
  }

  .footer .social-media__followers {
    text-align: start;
  }

  .footer__social-media {
    max-width: 300px;
  }
}

@media screen and (max-width: 666px) {
  .footer__contacts .footer__blog-cards .blog-card__title h4 {
    width: 100%;
  }

  .footer__copyright {
    display: flex;
    text-align: center;
  }

  .footer__instagram-option {
    height: 79px;
  }

  .footer__blog-title,
  .footer__instagram-title {
    ._center();
  }
}

@media screen and (max-width: 600px) {
  .footer__blog {
    display: block;
  }
  .footer__contacts {
    flex-direction: column;
    margin-bottom: 0;
  }
}
