@import "../constants";
@import "../mixins";

.header {
  ._container();
  ._wrapper();

  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 10px 0;
  }

  .header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu__list {
      display: flex;

      .menu__item {
        width: 114px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        position: relative;

        a {
          &.basket {
            margin-right: 37px;
          }

          &.basket::before,
          &.surch::before {
            color: black;
          }
          &.basket::before {
            ._icon-backet();
          }
          &.surch::before {
            content: "\e909";
          }
        }

        .menu__link {
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: @default-background-color;
          text-decoration: none;
          text-transform: uppercase;
          position: relative;
          display: flex;
          justify-content: center;

          &:hover::after {
            content: "";
          }

          &::after {
            position: absolute;
            width: 85px;
            height: 3px;
            background: rgba(244, 191, 135, 1);
            bottom: -10px;
          }
        }
      }
    }
  }
}
