@import "../constants";
@import "../mixins";

.partners {
  background: rgb(248, 248, 248);

  &__container {
    ._container();
  }
  &__wrapper {
    ._wrapper();
  }
}

.partner__list {
  display: flex;
  ._center();
  justify-content: space-between;

  .partner__item {
    ._center();
    width: 127px;
    height: 127px;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
