@import "../constants";
@import "../mixins";

.services {
  padding: 42px 0 91px 0;
  &__container {
    ._container();
  }
  &__wrapper {
    ._wrapper();
  }

  &__cards {
    margin-top: 88px;
    ._center();
    display: grid;
    // grid-template: repeat(2, 139px) / repeat(3, 370px);
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 148px 30px;
  }
}

.services__card {
  display: flex;
}
.card__image {
  font-size: 70px;
}

.card__information {
  margin-left: 30px;
}
.card__header {
  padding: 12px 0px 12px 0px;
  h3 {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;

    color: #2d3033;
  }
}

.card__discription {
  padding: 19px 0;
  p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2d3033;
  }
}

@media screen and (max-width: 1030px) {
  .services {
    padding: 29px 0 58px 0;
  }

  .services__cards {
    margin-top: 67px;
  }

  .services__cards .services__card .card__image {
    font-size: 59px;
  }

  .card__header h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  .card__header {
    padding: 11px 0px 11px 0px;
  }

  .card__discription {
    padding: 18px 0;
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

  // .card__information {
  //   margin-left: 25px;
  // }

  .services__cards {
    gap: 65px 25px;
  }
}

@media screen and (max-width: 948px) {
  .services__cards {
    margin-top: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }

  .services__cards {
    margin-top: 52px;
  }
}

@media screen and (max-width: 480px) {
  .services__cards {
    margin-top: 66px;
  }
  .services__cards .services__card .card__image {
    font-size: 57px;
  }

  .card__information {
    margin-left: 20px;
  }

  .card__discription {
    padding: 7px 0;
  }

  .services__cards {
    gap: 42px 0;
  }

  .services__card {
    padding-top: 5px;

    .section-header__title-wrapper {
      margin-bottom: 19px;
    }
  }
}
