@import "../constants";
@import "../mixins";

.reviews-courusel {
  display: flex;

  &__arrow-left {
    width: 23px;
    height: 23px;
    border-top: 2px solid rgba(198, 203, 205, 1);
    border-right: 2px solid rgba(198, 203, 205, 1);
    transform: rotate(-135deg);

    &-wrapper {
      ._center();
    }
  }

  &__item {
    display: flex;
    .reviews-courusel {
      &__img {
        border: 2px solid #95e1d3;
        padding: 35px;
        margin: 0px 0px 0px 45px;

        &::before {
          font-family: "icomoon" !important;
          font-size: 70px;
          content: "\e904";
          color: black;
          width: 100px;
          height: 100px;
          display: flex;
          ._center();
        }
      }

      &__discription {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 48px 0 30px;
      }
      &__text p {
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #a9afb1;
      }
      &__parametry {
        display: flex;
        align-items: center;
        .reviews-courusel {
          &__line {
            max-width: 70px;
            width: 100%;
            height: 0px;
            border: #f38281 solid 3px;
            margin-right: 56px;
          }
          &__name h4 {
            font-family: "Kaushan Script";
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 44px;
            display: flex;
            align-items: center;
            color: #000000;
          }

          &__arrow-left {
            width: 23px;
            height: 23px;
            border-top: 2px solid rgba(198, 203, 205, 1);
            border-right: 2px solid rgba(198, 203, 205, 1);
            transform: rotate(-135deg);

            &-wrapper {
              ._center();
            }
          }
        }
      }
    }
  }
  &__arrow-right {
    width: 23px;
    height: 23px;
    border-top: 2px solid rgba(198, 203, 205, 1);
    border-right: 2px solid rgba(198, 203, 205, 1);
    transform: rotate(45deg);
    margin-left: 48px;

    &-wrapper {
      ._center();
    }
  }
}
